.display-flex {
    display: flex;
}

.flex {
    flex: 1;
}

.title-head-page {
    font-size: 1.875rem;
    color: #1e2531;
    font-family: 'Lora';
}

.main-page-header {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    align-items: center;
    &.has-border {
        border-bottom: 1px solid #1e2531;
    }
}

[role='button'],
button {
    cursor: pointer;
}

// [disabled] {
//     cursor: not-allowed !important;
//     color: #868e96 !important;
//     opacity: 0.65 !important;
// }
.bg-white {
    background: #ffffff;
}

.box-header {
    border-top: 4px solid #c0a328;
}

ul {
    margin: 0;
    padding: 0;
}

.site-head {
    height: 4.4em; // ---- wrap for right elements
    border-bottom: solid 1px $site-nav-head-border-color;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
    .right-elems .wrap {
        padding: 0.5rem;
        margin-left: 1.8rem;
        cursor: pointer;
        position: relative;
        .dropdown-item:active {
            color: $md-grey-900;
        }
    } // ----- profile
    .click-toggle-nav {
        background: $md-color-nav;
        padding: 4px 5px;
    }
    .right-elems .profile {
        img {
            width: 36px;
            height: 36px;
            border-radius: 100%;
            border: 2px solid $md-green-100;
        }
        padding: 0;
    }
    .right-elems .notify .badge {
        font-size: 65%;
        position: absolute;
        top: -4px;
        right: -4px;
        color: $md-yellow-50;
        background: $md-color-nav;
        padding: 4px 5px;
    } // ----- site-search
    .site-search {
        position: relative;
        input {
            font-size: $font-size-root;
            border: none;
            border-radius: 1px;
            padding-left: 3.5rem;
            transition: 0.2s ease-in;
            padding-top: 0.9rem;
            padding-bottom: 0.9rem;
        }
        >svg {
            position: absolute;
            top: 0.8rem;
            left: 1rem;
        }
    }
}

.pac-logo {
    z-index: 9999;
}

.ant-notification {
    z-index: 99999 !important;
}

.sixteen-nine {
    @include aspect-ratio(16, 9);
}

.m-ranger-slider {
    .input-range__slider {
        background: $primary-color;
        border: 2px solid $black-color;
    }
    .input-range__track {
        background: #9b9b9b;
        &.input-range__track--active {
            background: $primary-color;
        }
    }
}

// Move from 'src\modules\overview\components\Overview\slider-style.scss'
.slider-wrapper {
    width: auto;
    height: 250px;
    border: 1px solid #333;
    overflow: hidden;
    border-radius: 4px !important;
}

.slider {
    width: 2000px;
}

.slider-item {
    float: left;
    position: relative;
    text-transform: uppercase;
    color: #fff;
    line-height: 250px;
    font-size: 20px;
    background: #383838;
    text-align: center;
    border-radius: 4px !important;
    transition: all 0.2s linear;
}

.hide {
    @extend .slider-item;
}

.buttons-wrapper {
    width: 400px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    margin-top: -15px;
}

.buttons-wrapper .prev-button {
    background-image: url(http://static.birgun.net/static/images/slider-arrow-left.svg);
    background-size: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    height: 30px;
    width: 30px;
    border-radius: 4px;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.2s linear;
}

.buttons-wrapper .next-button {
    background-image: url(http://static.birgun.net/static/images/slider-arrow-right.svg);
    @extend .prev-button;
}

.buttons-wrapper button:hover {
    background-color: rgba(0, 0, 0, 0.4);
}


/* indicators */

.indicators {
    width: 400px;
    position: absolute;
    bottom: 0%;
    z-index: 2 !important;
    text-align: center;
}

.indicators li {
    display: inline-block;
    margin-right: 5px;
    width: 12px;
    height: 12px;
    font-size: 16px;
    line-height: 30px;
    border-radius: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    text-indent: -9999px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.indicators li:last-child {
    margin-right: 0;
}

.active-indicator {
    background: rgba(0, 0, 0, 0.3) !important;
    color: #fff !important;
}

// carousel bottom
.slide {
    display: inline-block;
    vertical-align: top;
    /*    width: 100px;
    height: 55px; */
}

.carousel-viewport {
    white-space: nowrap;
}

.carousel-nav {
    width: 30px;
}

.carousel-container::-webkit-scrollbar {
    display: none;
}

.carousel-container {
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 80%;
    position: absolute;
    bottom: 5%;
    left: 10%;
    display: flex;
}

// news carousel
$breakpoint-desktop: 992px;
.content-carousel {
    position: relative;
}

// Carousel slides
.carousel__slide {
    margin-right: auto;
    margin-left: auto;
    display: none;
    list-style-type: none;
    text-align: center;
    user-select: none;
    background: #1e2531;
    @media (max-width: 991px) {
        padding-right: 60px;
        padding-left: 60px;
    }
    &--active {
        display: block;
    }
    .bg-images {
        width: 100%;
        height: 290px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        .player {
            position: absolute;
            font-size: 50px;
            color: #fff;
            top: 40%;
        }
    }
}

// Content of slides
.carousel-slide__content {
    margin-bottom: 19px;
    font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
    font-size: 16px;
    @media (max-width: $breakpoint-desktop - 1px) {
        font-size: 18px;
    }
}

.carousel-slide__author,
.carousel-slide__source {
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    @media (min-width: $breakpoint-desktop) {
        font-size: 16px;
    }
}

.carousel-slide__source {
    font-style: italic;
    color: #888;
}

// Carousel arrows
.carousel__arrow {
    position: absolute;
    bottom: 5%;
    display: block;
    color: #fff;
    cursor: pointer;
    opacity: 0.75;
    transform: translateY(-50%);
    transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);
    height: 30px;
    width: 30px;
    z-index: 99;
    &:focus {
        outline: 0;
    }
    &:hover {
        opacity: 0.5;
    }
    &--left {
        left: 2%;
    }
    &--right {
        right: 2%;
    }
}

// Carousel indicators
.carousel__indicators {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 999;
    user-select: none;
    li {
        &:nth-of-type(n + 2) {
            margin-left: 9px;
        }
    }
}

.carousel__indicator {
    display: block;
    cursor: pointer;
    transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);
    /*   width: 100px;
    height: 55px; */
    text-align: center;
    background: #000000;
    border: 1px solid #fff;
    overflow:hidden;
    &:hover {
        opacity: 0.5;
    }
    &--active {
        &,
        &:hover {
            opacity: 0.75;
        }
    }
}

.test {
    position: absolute;
}

// Move from 'src\modules\overview\components\Overview\pagination.scss'
.pagination {
    margin-top: 20px;
    .page-item {
        .page-link {
            background: none;
            font-family: Lora;
            font-weight: bold;
            color: #161200;
            border: solid 1px #161200;
            margin: 0px 0px 0px 5px;
        }
    }
    .active {
        .page-link {
            background: #161200;
            color: #c0a328;
        }
    }
    .page-item:first-child,
    .page-item:last-child {
        .page-link {
            border-radius: 0px;
        }
    }
}

// Move from 'src\modules\overview\style.scss'
.main-page-header {
    button {
        padding: 4px 35px !important;
        text-transform: uppercase;
        border-radius: 2.4px;
        font-weight: bold;
        svg {
            margin-bottom: 3px;
        }
        transition: all 250ms;
    }
    button:hover {
        color: #c0a328;
        background-color: #1e2531;
    }
}

.content-container .nav-tabs {
    border-bottom: 1px solid #1e2531;
    a {
        color: #1e2531;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        text-align: left;
        border: none;
        padding: 10px 20px;
    }
    a.active {
        border-bottom: 3px solid #c0a328 !important;
        border: none;
        background: none;
        color: #1e2531;
    }
}

// Move from 'src\modules\login\style.scss'
.img-login {
    width: 240px;
}

.view-content.view-session.page-login {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        background: $view-header-bg-project;
        width: 100%;
        top: 0;
        left: 0;
        height: 50%;
    }
    .form-login {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #eceff1;
        border-radius: 2px;
        padding: 28px 93px;
        box-shadow: 0 6px 13px 0 rgba(0, 0, 0, 0.25);
    }
    .logo-login {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 100px 0px 80px 0px;
    }
    .btn-form {
        cursor: pointer;
        border-radius: 2px;
        font-weight: bold;
        padding: 10px 15px;
    }
    .btn-signup {
        background-color: #fff;
        color: #1e2531;
        display: inline-block;
        border: 1px solid #000;
        text-align: center;
    }
    .btn-login {
        background-color: #1e2531;
        color: #c0a328;
    }
    .forgot-password {
        color: #1e2531;
        font-style: italic;
        margin-top: 21px;
        cursor: pointer;
    }
    @media (max-width: 1024px) {
        .form-login {
            padding: 28px 60px;
        }
    }
    @media (max-width: 768px) {
        .form-login {
            padding: 28px 38px;
        }
    }
}

// Move 'src\modules\buyer\style.scss'
.wrap-log-phone-call {
    padding-bottom: 90px;
    .ant-calendar-picker {
        width: 100%;
        input {
            border-radius: 2px;
            background-color: #ffffff;
            border: solid 1px #979797;
            padding: 18px 10px;
            width: 100%;
        }
    }
}

.wrap-activity {
    .ant-collapse {
        position: relative;
        z-index: 0;
        .ant-collapse-item {
            border: 1px solid #979797;
            position: relative;
            padding: 0 !important;
            .ant-collapse-header {
                z-index: 1;
                .arrow {
                    display: none;
                }
                .icon-panel {
                    width: 20px;
                    height: 20px;
                    border-radius: 20px;
                    background-color: #fff;
                    float: right;
                    margin-right: 15px;
                    margin-top: 9px;
                    transform: rotate(270deg);
                }
                padding: 17px 0px;
                background-color: #f0f0f0;
                font-weight: bold;
                color: #7b7996;
                padding-left: 20px;
            }
            .ant-collapse-header[aria-expanded='true'] {
                .icon-panel {
                    transform: rotate(0deg);
                }
            }
            .ant-collapse-content {
                border: none;
                background-color: #fff !important;
            }
        }
        .ant-collapse-content {
            color: #000;
            .ant-collapse-content-box {
                padding-top: 10px;
                padding-bottom: 18px;
            }
        }
        &::before {
            width: 100%;
            height: 100%;
            position: absolute;
            border-left: 2px solid #dfdfdf;
            left: 40px;
            content: ' ';
            z-index: 1;
        }
    }
}

.wrap-box-log {
    .nav-tabs {
        a {
            padding-top: 22px;
            padding-bottom: 22px;
        }
    }
}

// Move from 'src\components\sidebar\style.scss'
.left-side {
    background: #dddddd;
}

.site-nav {
    border-right: none;
    width: 15em;
    position: fixed;
    z-index: $zindex-navbar-fixed;
    top: 0;
    bottom: 0;
    transition: 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.05);
    background: $site-nav-bg; // for smaller devices and only activate upon clicking by hamburger menu.
    transform: translate(-100%, 0);
    &.mini {
        transform: translate(0, 0);
    } // only show on large devices.
    @media (min-width: 992px) {
        transform: translate(0, 0);
        &.mini {
            transform: translate(-95%, 0);
            &:hover {
                transform: translate(0, 0);
            }
        }
    }
    .nav-list-container {
        height: calc(100% - 4em);
    }
    .scrollarea .scrollbar-container {
        opacity: 0;
        &.vertical {
            width: 15px;
        }
    }
    .scrollarea .scrollbar-container:hover {
        background: transparent;
    }
    .nav-head {
        border-bottom: 1px solid $site-nav-head-border-color;
        padding: 0.8rem 0rem 0.8rem 1.5rem;
        text-align: center;
        position: relative;
        height: 4.4em;
        margin-left: -1.5rem;
    }
    .nav-head svg>path {
        stroke: $site-nav-list-hover-color;
    }
    .nav-head .toggle-dot {
        width: 11px;
        height: 11px;
        border: 2px solid $site-nav-toggle-color;
        border-radius: 50%;
        position: absolute;
        top: 0.8rem;
        right: 0.8rem;
        cursor: pointer;
        &.active {
            background: $site-nav-toggle-color;
        }
        &:before {
            content: '';
            position: relative;
            display: block;
            width: 400%;
            height: 400%;
            box-sizing: border-box;
            margin-left: -150%;
            margin-top: -150%;
            border-radius: 100%;
            background-color: $site-nav-toggle-color;
            animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
        }
        @keyframes pulse-ring {
            0% {
                transform: scale(0.33);
            }
            80%,
            100% {
                opacity: 0;
            }
        }
    }
    .nav-head a {
        color: $site-nav-head-color;
        font-weight: 700;
        >svg {
            position: relative;
            top: 1px;
        }
        >strong {
            display: inline-block;
            margin-left: 0.2rem;
            letter-spacing: 2.4px;
            text-shadow: -0.5px 0px 0 lighten($site-nav-head-color, 10%), 0.5px 0px 0 lighten($site-nav-head-color, 10%);
        }
    }
}