// ======== Theme Blue
// ------- site-nav
// ----------------
$site-nav-bg: $md-color-nav;
$site-nav-toggle-color: $md-blue-a700;
$site-nav-head-color: $md-grey-900;
$site-nav-head-border-color: $md-yellow-50;
$site-nav-list-color: lighten($md-white, 8%);
$site-nav-list-hover-color: $md-white;
// ------ view-header
// ------------------
$view-header-bg: $md-white;
$view-header-title:$md-color-title;
$sibar-border:$md-color-border;
$sibar-bg-inner-drop:$md-color-bg-inner-drop;
/// ####### END #######